.content {
    padding-top: 30px;
    padding-bottom: 25px;
}

.header-content {
    display: inline-block;
    color: #002654;
    opacity: .7;
}

.username {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 3px solid #002654;
}

.color {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 10px 20px;
    background: #4b87e0;
    color: white;
}

.word-name {
    font-weight: bold;
    margin-right: 15px;
}

.word-data {
    margin-bottom: 15px;
}

.word-value {
    font-weight: normal;
}

.line {
    width: 35%;
    background: rgb(230, 230, 230);
    height: 8px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 25px;
}

.card {
    overflow: hidden;
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 45px;
    -webkit-box-shadow: 0px 5px 52px -5px rgba(0,18,85,0.15);
    -moz-box-shadow: 0px 5px 52px -5px rgba(0,18,85,0.15);
    box-shadow: 0px 5px 52px -5px rgba(0,18,85,0.15);
    transition: transform .3s;
    border-radius: 15px;
}

.fav {
    margin-left: auto;
    margin-right: auto;
    background: #ff4e80;
    background: -moz-linear-gradient(-45deg, #ff4e80 0%, #ff9495 100%);
    background: -webkit-linear-gradient(-45deg, #ff4e80 0%,#ff9495 100%);
    background: linear-gradient(135deg, #ff4e80 0%,#ff9495 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4e80', endColorstr='#ff9495',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /*-webkit-box-shadow: 0px 6px 12px -4px rgba(83,158,250,0.7);
    -moz-box-shadow: 0px 6px 12px -4px rgba(83,158,250,0.7);
    box-shadow: 0px 6px 12px -4px rgba(83,158,250,0.7);*/
    transform: scale(.8);
}

ion-slide {
    width: 100%;
}

.swiper-slide-active .fav {
    transform: scale(1);
}

.normal-card:active {
    transform: scale(.95);
}

.add {
    float: right;
    color: #002654;
    margin-right: 25px;
    font-size: 1.4em;
}

.title {
    padding-left: 20px;
    font-size: 3em;
    font-weight: bolder;
    color: #002654;
}

.word-datas {
    margin-top: 10px;
    font-size: 1.5em;
    padding: 8px 20px;
    color: #002654;
    opacity: .8;
}

.card-content {
    padding: 0;
}

.label {
    margin: 0;
 }
 
 .item-inner {
    padding-right: 0px!important;
 }

 .remove-icon {
     margin-top: 10px;
     font-size: 3em;
 }

.card-content h1 {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    font-weight: bolder;
    font-size: 3em;
    color: white;
}

.top {
    color: rgb(200, 200, 200);
}
