.content {
    padding-top: 30px;
    padding-bottom: 25px;
}

.header-content {
    display: inline-block;
    color: #002654;
    opacity: .7;
}

.toolbar-background {
    background: white;
}

ion-header {
    padding: 7px 0; 
    -webkit-box-shadow: 0px 6px 12px -4px rgba(0, 36, 81, 0.1);
    -moz-box-shadow: 0px 6px 12px -4px rgba(0, 36, 81, 0.1);
    box-shadow: 0px 6px 12px -4px rgba(0, 36, 81, 0.1);
}

.username {
    font-weight: bold;
    font-size: 1.5em;
    background: rgba(59, 67, 107, .7);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    /*border-bottom: 3px solid #002654;*/
}

.color {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 10px 20px;
    background: #4b87e0;
    color: white;
}

.word-name {
    font-weight: bold;
    margin-right: 15px;
}

.word-data {
    margin-bottom: 15px;
}

.word-value {
    font-weight: normal;
}

.line {
    width: 35%;
    background: rgb(230, 230, 230);
    height: 8px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 25px;
}

.card {
    overflow: hidden;
    width: 92%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 5px 52px -5px rgba(0,18,85,0.15);
    -moz-box-shadow: 0px 5px 52px -5px rgba(0,18,85,0.15);
    box-shadow: 0px 5px 52px -5px rgba(0,18,85,0.15);
    transition: transform .3s;
    border-radius: 15px;
}

.fav {
    margin-left: auto;
    margin-right: auto;
    background: rgb(59, 67, 107);
    background: -moz-linear-gradient(-45deg, rgb(59, 67, 107) 0%,rgba(41, 46, 73, 0.849) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(59, 67, 107) 0%,rgba(41, 46, 73, 0.849) 100%);
    background: linear-gradient(135deg, rgb(59, 67, 107) 0%,rgba(41, 46, 73, 0.849) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(59, 67, 107)', endColorstr='rgba(41, 46, 73, 0.849)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: 0px 6px 12px -4px rgb(59, 67, 107);
    -moz-box-shadow: 0px 6px 12px -4px rgb(59, 67, 107);
    box-shadow: 0px 6px 12px -4px rgb(59, 67, 107);
    transform: scale(.8);
}

ion-slide {
    width: 100%;
}

.swiper-slide-active .fav {
    transform: scale(1);
}

.normal-card:active {
    transform: scale(.95);
}

.toolbar-title-md {
    padding: 0;
}

.add {
    float: right;
    color: rgba(59, 67, 107, .9);
    margin-right: 25px;
    font-size: 1.4em;
}

.title {
    padding-left: 20px;
    font-size: 3em;
    font-weight: bolder;
    color: #002654;
}

.word-datas {
    margin-top: 10px;
    font-size: 1.5em;
    padding: 8px 20px;
    color: #002654;
    opacity: .8;
}

.card-content {
    padding: 0;
}

.label {
    margin: 0;
 }
 
 .item-inner {
    padding-right: 0px!important;
 }

 .remove-icon {
     margin-top: 10px;
     font-size: 3em;
 }

.card-content h1 {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    font-weight: bolder;
    font-size: 3em;
    color: white;
}

.top {
    color: rgb(200, 200, 200);
}
