.card {
    overflow: hidden;
    width: 92%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 5px 52px -5px rgba(0,18,85,0.15);
    -moz-box-shadow: 0px 5px 52px -5px rgba(0,18,85,0.15);
    box-shadow: 0px 5px 52px -5px rgba(0,18,85,0.15);
    transition: transform .3s;
    border-radius: 15px;
}

.card:hover, .card:active, .card:focus {
    transform: scale(1.05);
}

.color {
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 10px 20px;
    background: rgba(27, 34, 53, 0.856);
    color: white;
}

.color div {
    min-width: 0;
}

.fav-icon {
    padding-left: 20px;
    transition: transform .1s;
}

.fav-icon ion-icon{
    font-size: 1.8em;
}

.fav-icon:active {
    transform: scale(1.3);
}

.word-datas {
    margin-top: 10px;
    font-size: 1.3em;
    color: #233142;
    opacity: .8;
}

.word-title {
    width: 95%;
}

.word-name {
    font-weight: bold;
    margin-right: 15px;
}

.word-data {
    padding: 13px 20px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.add {
    float: right;
    color: #1b2235;
    margin-right: 25px;
    font-size: 1.4em;
}

.card-content {
    padding: 0;
}

.card-content h1 {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    font-weight: bolder;
    font-size: 3em;
    color: white;
}

.remove-icon {
    margin-top: 10px;
    font-size: 3em;
}

.item-inner {
    padding-right: 0px!important;
}

.label {
    margin: 0;
}

.active-slide .color {
    border-top-right-radius: 0;
}
